<!--Agregar Metodo Cascada Para Validacion De USuario-->
@using BlazorCRUD.Client.Pages
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager


<!--Se agrego cascading para acceder a la informacion del usuario dentro de las internas etiquetas-->
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                   @{
                        if (context.User.Identity?.IsAuthenticated != true)
                        {
                            navManager.NavigateTo("/");
                        }
                        else
                        {
                            <p class="alert alert-danger">No esta autorizado para ver esta Pagina</p>
                        }
                   }
                </NotAuthorized>

            </AuthorizeRouteView>
           
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

