
@page "/espacioLista"
<h3>EspacioLista</h3>

<div>
    <div class="lista">
        <div>
        </div>
        <div>
            Cuadro2
        </div>
        <div>
            Cuadro3
        </div>
    </div>
    <div class="lista">
        <div>
            Cuadro1
        </div>
        <div>
            Cuadro2
        </div>
        <div>
            Cuadro3
        </div>
    </div>
    <div class="lista">
        <div>
            Cuadro1
        </div>
        <div>
            Cuadro2
        </div>
        <div>
            Cuadro3
        </div>
    </div>
</div>

@code {

}
