@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

@using System.Timers

@inject IJSRuntime JSRuntime


<div class="page-wrapper chiller-theme">
    <nav class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">

                <label for="mostrar-Barra"></label>
                <div class="menuH">
                    <label for="mostrar-Barra">
                        <div class="iconoHamburguesa">
                            <div class="lineaHambur"></div>
                            <div class="lineaHambur"></div>
                            <div class="lineaHambur"></div>
                        </div>
                    </label>

                </div>
                <a>Titulo De Sidebar</a>
            </div>
            <div class="sidebar-header">
                <div class="userPicture">
                    <img src="/ImagesJPS/userExample.png" alt="Usuario Foto">
                </div>
                <div class="userInfo">
                    <span class="userName">
                        <strong>
                            <a>
                                <AuthorizeView>
                                    @context.User.Identity!.Name
                                </AuthorizeView>

                            </a>
                        </strong>
                    </span>
                    <span class="userRole">
                        <strong><a>EMPLEADO</a></strong>
                    </span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>ONLINE</span>
                    </span>
                </div>
            </div>
            <div class="sidebar-search">
                <div class="inputLogo">
                    <span class="logoSearch">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="inputGroup">
                    <input type="text" class="field" placeholder="Busqueda">
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="Titulo-Menu">
                        <span>Panel Principal</span>
                    </li>

                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fa fa-car"></i>
                            </span>
                            <spa>
                                <a href="/Index">Inicio</a>
                            </spa>
                        </div>
                    </li>
                    <li>

                        <div class="submenus">
                            <span>
                                <i class="fa fa-building"></i>
                            </span>
                            <span>
                                <a href="/InicioPrincipal">Usuarios</a>
                            </span>
                            <span class="notificacion-yellow">
                                NEW
                            </span>
                        </div>

                    </li>
                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fa fa-wind"></i>
                            </span>
                            <spa>
                                <a href="/FetchData">Clima</a>
                            </spa>
                        </div>
                    </li>
                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fa fa-circle"></i>
                            </span>
                            <spa>
                                <a href="/Counter">Contador</a>
                            </spa>
                        </div>
                    </li>
                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fa fa-car"></i>
                            </span>
                            <spa>
                                <a href="/Vehiculos">Vehiculos</a>
                            </spa>
                        </div>
                    </li>

                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fas fa-file-pdf"></i>
                            </span>
                            <span>
                                <a href="/pdfGenerate">Generar PDF 1</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="submenus">
                            <span>
                                <i class="fas fa-file-pdf"></i>
                            </span>
                            <span>
                                <a href="/Prueba2PDF">Generar PDF 2</a>
                            </span>
                        </div>
                    </li>
                    <li class="Titulo-Menu">
                        <p>
                            Hora actual es:
                            <span id="current-time">
                                @currentTime
                            </span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="sidebar-menu2">
            </div>
            <div class="sidebar-footer">
                <p>Pie Sidebar</p>
            </div>

        </div>
    </nav>
</div>


@code {
    private Timer timer = new Timer(1000);
    private DateTime currentTime;

    protected override async Task OnInitializedAsync()
    {
        timer = new Timer(1000); // Intervalo de 1 segundo
        timer.Elapsed += TimerElapsed;
        timer.Start();

        // Obtén la hora actual una vez para mostrarla al cargar la página
        currentTime = DateTime.Now;
        //string fechaFormateada = currentTime.ToString("HH:mm:ss");

        await JSRuntime.InvokeVoidAsync("updateCurrentTime", currentTime);
    }

    private void TimerElapsed(object? sender, ElapsedEventArgs e)
    {
        currentTime = DateTime.Now;
        //string fechaFormateada = currentTime.ToString("HH:mm:ss");
        StateHasChanged();

        // Llama a una función JavaScript para actualizar la hora en el DOM
        JSRuntime.InvokeVoidAsync("updateCurrentTime", currentTime);
    }
}