@inject HttpClient httpClient
@inject NavigationManager navManager
@inject AuthenticationStateProvider autenticacionProvider

@using BlazorCRUD.Shared
@using BlazorCRUD.Client.Extensiones
@using Microsoft.AspNetCore.Components.Authorization

@inject Blazored.SessionStorage.ISessionStorageService sesionStorage

<!--Inicio NAVBAR Horizontal-->
<nav class="barra-horizontal">
    <div class="menuH">
        <label for="mostrar-Barra">
            <div class="iconoHamburguesa">
                <div class="lineaHambur"></div>
                <div class="lineaHambur"></div>
                <div class="lineaHambur"></div>
            </div>
        </label>

    </div>
   
    <label for="mostrar-Barra" id="btnJesus">Mostrar</label>
    <div class="items">
        <div class="item">
            <a href="#">
                <div class="item-text">
                    item
                </div>
            </a>
        </div>
        
        <div class="item">
            <a href="#">
                <div class="item-text">
                    item1
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="item-text">
                    <a @onclick="CerrarSesion" href="javascript:void(0)">Salir</a>
                </div>
            </a>
        </div>
    </div>


</nav>
<!--Fin Navbar-->
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task CerrarSesion()
    {
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null);

        await sesionStorage.RemoveItemAsync("DataUSer");

        navManager.NavigateTo("/", true);
    }
}
