@page "/"
@layout LoginLayout

@inject HttpClient httpClient
@inject NavigationManager navManager
@inject AuthenticationStateProvider autenticacionProvider

@inject Blazored.SessionStorage.ISessionStorageService sesionStorage



@using BlazorCRUD.Shared
@using BlazorCRUD.Client.Extensiones
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;




<div id="backgroundLog">
    <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4 border editc">
            <div class="mb-3 text-center">
                <h3>Iniciar Sesion</h3>
            </div>
            <div class="mb-3">
                <label>Correo</label>
                <input type="email" @bind="login.Correo" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Contrasenia</label>
                <input type="password" @bind="login.Clave" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" @onclick="IniciarSesion" class="btn btn-primary" value="INGRESAR"></input>
            </div>
        </div>
    </div>
</div>





@code {
    private LoginClase login = new LoginClase();

    private async Task IniciarSesion()
    {
        var loginResponse = await httpClient.PostAsJsonAsync<LoginClase>("/api/Usuario/Login", login);

        if (loginResponse.IsSuccessStatusCode)
        {
            //Aca Presente error Obtiene nulos 16/06/2023
            var sesionUsuario = await loginResponse.Content.ReadFromJsonAsync<Usuario>();
            var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
            await autenticacionExt.ActualizarEstadoAutenticacion(sesionUsuario);

            ///Usar variables Sesion
            ///Asigna Datos
            await sesionStorage.SetItemAsync("DataUser", sesionUsuario.Nombre);

            navManager.NavigateTo("/Index");
        }
    }
}